* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  height: 100%;
}

body {
  color: #333333;
  display: flex;
  flex-direction: row;
  font-family: "Noto Serif Georgian", serif;
  font-optical-sizing: auto;
  font-size: 1.5rem;
  font-style: normal;
  font-variation-settings: "wdth" 300;
  font-weight: 400;
  height: 100%;
  line-height: 1.7em;
  margin: 0 auto;
  max-width: 100rem;
  padding: 3rem 0;
}

h1, h2, h3 {
  color: #171717;
  font-family: "Source Sans 3", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 400;
  line-height: 1.1em;
}

h1 {
  font-size: 4.7rem;
  margin: 7rem 0 0;
}

h2 {
  font-size: 2.3rem;
  margin: 0 0 3rem;
}

h3 {
  font-size: 2.1rem;
  margin: 3rem 0 1rem;
}

@media (min-width: 744px) {
  h3 {
    font-size: 2.7rem;
  }
}

aside {
  border-right: 1px solid #D2D2D2;
  display: none;
  padding: 0 3rem;
  width: 47rem;
}

@media (min-width: 1133px) {
  aside {
    display: flex;
  }
}

aside nav {
  margin: 6rem 0 0;
}

nav a {
  align-items: center;
  color: #333333;
  display: inline-flex;
  font-family: "Source Sans 3", sans-serif;
  font-optical-sizing: auto;
  font-size: 1.7rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1em;
  padding: 0.7rem;
  text-decoration: none;
}

nav img {
  height: 2.7rem;
}

nav span {
  display: none;
  margin: 0 1.75rem 0 1rem;
}

@media (min-width: 1133px) {
  nav span {
    margin: 0 1.75rem 0 1.5rem;
  }
}

aside nav a {
  margin: 1rem 0;
}

aside nav span {
  font-size: 2.1rem;
}

@media (min-width: 744px) {
  nav span {
    display: inline-block;
  }
}

@media (min-width: 1133px) {
  nav img {
    height: 3.1rem;
  }
}

main {
  padding: 0 3rem;
}

@media (min-width: 1133px) {
  main {
    padding: 0 7rem;
  }
}

header {
  text-align: center;
  border-bottom: 1px solid #D2D2D2;
  margin-bottom: 7rem;
}

@media (min-width: 744px) {
  header {
    text-align: left;
    margin-bottom: 0;
    border-bottom: 0;
  }
}

main nav {
  margin: 0 0 3rem;
}

@media (min-width: 1133px) {
  main nav {
    display: none;
  }
}

blockquote {
  font-family: "Cardo", serif;
  font-size: 2.3rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.3em;
  margin: 7rem 0;
}

@media (min-width: 744px) {
  blockquote {
    font-size: 2.7rem;
  }
}

blockquote strong {
  color: rgba(28, 0, 255, 0.5);
}
